include mixins

a(name="about")
section#about
  .section-wrap
    h4.title.white I am a digital designer and developer
    .media
      img(src="/assets/img/headshot.jpg") 
      h5.white
        | I design in Photoshop and Sketch. <br/>
        | I code in Html, Css, Javascript, and JQuery. <br/>
        | I am currently learning Angular Js and Mongo Db. <br/>
    ul.social-media-icons
      +social-media-icons
