include mixins

mixin site-nav
  ul
    li 
      //- img.icon(src="/assets/img/light-bulb.svg") 
      .icon: i.fa.fa-lightbulb-o(aria-hidden="true")
      a(href="#about") About Me
    li 
      .icon: i.fa.fa-comment-o(aria-hidden="true")
      //- img.icon(src="/assets/img/bubble.svg") 
      a(href="#projects") Work
    li 
      .icon: i.fa.fa-paper-plane-o(aria-hidden="true")
      //- img.icon(src="/assets/img/plane.svg") 
      a(href="#contact") Say Hello
    
.header
  .header-position
    h1.logo Laura Holm

    nav.site-nav
      +site-nav
      
    ul.social-media-menu
      +social-media-icons 
          
    .mobile-nav-toggle: span

.mobile-nav
  +site-nav
