mixin social-media-icons
  li 
    a.social(href="https://www.linkedin.com/in/laura-holm-b4747a8")
      i.fa.fa-linkedin(aria-hidden="true")
      
      //- img(src="/assets/img/linkedIn.svg") 
  li 
    a(href="https://github.com/alidaca")
      i.fa.fa-github(aria-hidden="true")
      //- img(src="/assets/img/github.svg") 
  li 
    a(href="http://codepen.io/alidaca/")
      i.fa.fa-codepen(aria-hidden="true")
      //- img(src="/assets/img/codepen.svg") 
  li 
    a(href="https://www.freecodecamp.com/alidaca")
      i.fa.fa-fire(aria-hidden="true")
      //- img(src="/assets/img/fcc.svg")
