mixin social-media-icons
  li 
    a(href="#")
      img(src="/assets/img/linkedIn.svg") 
  li 
    a(href="#")
      img(src="/assets/img/github.svg") 
  li 
    a(href="#")
      img(src="/assets/img/codepen.svg") 
  li 
    a(href="#")
      img(src="/assets/img/fcc.svg")
